<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title }} : {{ site.description }}">

    <link href="/favicon.ico?v=1" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <title>{{ site.title }}</title>
    <script>
        if ((window.location.host === 'viktor-roytman.gitlab.io') ||
	    (window.location.host === 'viktorroytman.com') ||
	    ((window.location.host !== '127.0.0.1:4000') && (window.location.protocol != 'https:'))) {
	  window.location.replace("{{ site.url }}" + window.location.pathname);
	}
    </script>
    <script>
    // From http://blog.parkermoore.de/2014/08/01/header-anchor-links-in-vanilla-javascript-for-github-pages-and-jekyll/
    var anchorForId = function (id) {
        var anchor = document.createElement("a");
        anchor.className = "header-link";
        anchor.href      = "#" + id;
        anchor.innerHTML = "&para;";
        return anchor;
    };

    var linkifyAnchors = function (level, containingElement) {
        var headers = containingElement.getElementsByTagName("h" + level);
        for (var h = 0; h < headers.length; h++) {
            var header = headers[h];

            if (typeof header.id !== "undefined" && header.id !== "") {
	        header.innerHTML += ' ';
                header.appendChild(anchorForId(header.id));
            }
        }
    };

    document.onreadystatechange = function () {
        if (this.readyState === "complete") {
	    var contentBlock = document.getElementById('main_content');
            for (var level = 3; level <= 6; level++) {
                linkifyAnchors(level, contentBlock);
            }
        }
    };
    </script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
	  <a href="/"><h1 id="project_title">{{ site.title }}</h1></a>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% if page.date %}
	<p>{{ page.date | date_to_string }}</p>
	{% endif %}
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">
            View this site's source on <a href="https://github.com/vr2262/www.viktorroytman.com">GitHub</a>. Built using the <a href="https://github.com/pages-themes/slate">Slate</a> theme.<br>
            Copyright &copy; 2017-{{ site.time | date: "%Y" }} Viktor Roytman<br>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </p>
      </footer>
    </div>

  </body>
</html>
